# ðŸ“Œ Exploring Core Python Programming (Day 2 Topics)



  **âš¡ Example Flow for Day 2 Class:**

* Start with variables and data types

* Explain operators with small examples

* Deep dive into strings

* Cover lists, tuples, sets, dicts with coding practice

* Teach if/else and loops

* Introduce functions

* Wrap up with modules and error handling

# ðŸ”¹ 1. Variables and Data Types

Variables are used to store values. Python is dynamically typed, meaning you donâ€™t need to declare the type explicitly.

In [ ]:
# Variables and Data Types
x = 10          # int
y = 3.14        # float
name = "Fayaz"  # string
is_active = True # boolean

print("x:", x, type(x))
print("y:", y, type(y))
print("name:", name, type(name))
print("is_active:", is_active, type(is_active))

x: 10 <class 'int'>
y: 3.14 <class 'float'>
name: Fayaz <class 'str'>
is_active: True <class 'bool'>

# ðŸ”¹ 2. Operators with Examples

Operators allow us to perform operations on variables.

In [ ]:
# Arithmetic Operators
a, b = 15, 4
print(f" a = {a} and b = {b}")
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)  # division
print("a % b =", a % b)  # modulus
print("a ** b =", a ** b) # power
print("a // b =", a // b) # floor division

# Comparison Operators
print("a == b:", a == b)
print("a > b:", a > b)

# Logical Operators
print("a > 10 and b < 10:", a > 10 and b < 10)

# Membership Operator
print("'F' in 'Fayaz':", 'F' in "Fayaz")

# Identity Operator
x = [1, 2, 3]
y = x
print("x is y:", x is y)

 a = 15 and b = 4
a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a % b = 3
a ** b = 50625
a // b = 3
a == b: False
a > b: True
a > 10 and b < 10: True
'F' in 'Fayaz': True
x is y: True

# ðŸ”¹ 3. Strings in Depth

Strings are sequences of characters.

In [ ]:
# String indexing and slicing
s = "Python Programming"
print("First character:", s[0])
print("Last character:", s[-1])
print("Slice [0:6]:", s[0:6])

# String methods
print("Uppercase:", s.upper())
print("Lowercase:", s.lower())
print("Split:", s.split())
print("Replace:", s.replace("Python", "AI"))

# String formatting
name = "Fayaz"
age = 25
print(f"My name is {name} and I am {age} years old.")  # f-string

First character: P
Last character: g
Slice [0:6]: Python
Uppercase: PYTHON PROGRAMMING
Lowercase: python programming
Split: ['Python', 'Programming']
Replace: AI Programming
My name is Fayaz and I am 25 years old.

# ðŸ”¹ 4. Lists, Tuples, Sets, Dictionaries

Different data structures in Python.
 We will discuss these in details


*   lists
*   Tuple
*   Sets
*   Dectionaries

In [ ]:
# List (ordered, mutable)
fruits = ["apple", "banana", "mango"]
fruits.append("orange")
print("List:", fruits)

# Tuple (ordered, immutable)
colors = ("red", "green", "blue")
print("Tuple:", colors)

# Set (unordered, unique values)
nums = {1, 2, 3, 3, 4}
nums.add(5)
print("Set:", nums)

# Dictionary (key-value pairs)
student = {"name": "Fayaz", "age": 25, "grade": "A"}
student["city"] = "Peshawar"
print("Dictionary:", student)

List: ['apple', 'banana', 'mango', 'orange']
Tuple: ('red', 'green', 'blue')
Set: {1, 2, 3, 4, 5}
Dictionary: {'name': 'Fayaz', 'age': 25, 'grade': 'A', 'city': 'Peshawar'}

# ðŸ”¹ 1. Lists

Definition: A list is an ordered, mutable (changeable) collection.

Properties:

Allows duplicates

Indexed (can access by position)

Supports many built-in methods (append, remove, sort, etc.)

Use case: When you need an ordered collection that can be modified.

In [ ]:
# LIST Example
fruits = ["apple", "banana", "mango"]
print("Original List:", fruits)

# Add item
fruits.append("orange")
print("After append:", fruits)

# Access by index
print("First fruit:", fruits[0])

# Modify
fruits[1] = "grapes"
print("After modification:", fruits)

# Lists allow duplicates
fruits.append("apple")
print("With duplicate:", fruits)

Original List: ['apple', 'banana', 'mango']
After append: ['apple', 'banana', 'mango', 'orange']
First fruit: apple
After modification: ['apple', 'grapes', 'mango', 'orange']
With duplicate: ['apple', 'grapes', 'mango', 'orange', 'apple']

# ðŸ”¹ 2. Tuples

Definition: A tuple is an ordered, immutable collection.

Properties:

Indexed (like lists)

Cannot be modified after creation

Faster than lists (because of immutability)

Use case: When you want fixed data (e.g., coordinates, constant values).

In [ ]:
# TUPLE Example
colors = ("red", "green", "blue")
print(colors)
print("Tuple:", colors)

# Access by index
print("First color:", colors[0])

# Tuples cannot be modified
# colors[1] = "yellow"  # âŒ This will cause an error

# But you can have duplicates
colors = ("red", "green", "red")
print("Tuple with duplicate:", colors)

('red', 'green', 'blue')
Tuple: ('red', 'green', 'blue')
First color: red
Tuple with duplicate: ('red', 'green', 'red')

# ðŸ”¹ 3. Sets

Definition: A set is an unordered collection of unique elements.

Properties:

No duplicates allowed

No indexing (cannot access elements by position)

Supports set operations like union, intersection, difference

Use case: When uniqueness is important (e.g., removing duplicates).

In [ ]:
# SET Example
nums = {1, 2, 3, 3, 4}
print("Set removes duplicates automatically:", nums)

# Add element
nums.add(5)
print("After adding:", nums)

# Remove element
nums.remove(2)
print("After removing:", nums)

# Set operations
a = {1, 2, 3}
b = {3, 4, 5}
print("Union:", a | b)         # or a.union(b)
print("Intersection:", a & b)  # or a.intersection(b)
print("Difference:", a - b)

Set removes duplicates automatically: {1, 2, 3, 4}
After adding: {1, 2, 3, 4, 5}
After removing: {1, 3, 4, 5}
Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

# ðŸ”¹ 4. Dictionaries

Definition: A dictionary stores key-value pairs.

Properties:

Unordered (Python 3.7+ keeps insertion order)

Keys must be unique

Values can be duplicated

Keys must be immutable (string, number, tuple)

Use case: When you need to map data (like a studentâ€™s name â†’ grade).

In [ ]:
# DICTIONARY Example
student = {"name": "Fayaz", "age": 25, "grade": "A"}
print("Original Dictionary:", student)

# Access by key
print("Name:", student["name"])

# Modify value
student["age"] = 26
print("After modification:", student)

# Add new key-value pair
student["city"] = "Peshawar"
print("After adding new key:", student)

# Dictionary methods
print("Keys:", student.keys())
print("Values:", student.values())

Original Dictionary: {'name': 'Fayaz', 'age': 25, 'grade': 'A'}
Name: Fayaz
After modification: {'name': 'Fayaz', 'age': 26, 'grade': 'A'}
After adding new key: {'name': 'Fayaz', 'age': 26, 'grade': 'A', 'city': 'Peshawar'}
Keys: dict_keys(['name', 'age', 'grade', 'city'])
Values: dict_values(['Fayaz', 26, 'A', 'Peshawar'])

# ðŸ”¹  Key Differences (Quick Comparison)
âš¡ This way, you can clearly see the differences:

List â†’ Ordered, mutable, allows duplicates

Tuple â†’ Ordered, immutable, allows duplicates

Set â†’ Unordered, mutable, no duplicates

Dictionary â†’ Key-value pairs, keys unique

In [ ]:
# Lists vs Tuples vs Sets vs Dictionaries
list_ex = [1, 2, 2, 3]                 # ordered, mutable, allows duplicates
tuple_ex = (1, 2, 2, 3)                # ordered, immutable, allows duplicates
set_ex = {1, 2, 2, 3}                  # unordered, unique only
dict_ex = {"a": 1, "b": 2, "c": 3}     # key-value pairs, keys unique

print("List:", list_ex)
print("Tuple:", tuple_ex)
print("Set:", set_ex)
print("Dictionary:", dict_ex)

List: [1, 2, 2, 3]
Tuple: (1, 2, 2, 3)
Set: {1, 2, 3}
Dictionary: {'a': 1, 'b': 2, 'c': 3}

# ðŸ”¹ 1. If / Else Statements

Definition: Conditional statements allow you to execute certain blocks of code only if a condition is true.

Keywords: if, elif (else if), else

Use case: Decision making (checking conditions).

In [ ]:
# IF / ELSE Example
num = 15

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

# Nested If Example
age = 20
if age >= 18:
    if age < 21:
        print("You are an adult but not 21 yet.")
    else:
        print("You are 21 or older.")
else:
    print("You are under 18.")

Positive number
You are an adult but not 21 yet.

# Definition:
 A for loop is used for iterating over a sequence (list, string, tuple, dictionary, etc.).

Properties:

Iterates element by element

Uses the keyword for

Use case: When you know the number of iterations.

In [ ]:
# FOR LOOP Example
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
    print("Fruit:", fruit)

# Iterating through a string
for char in "Python":
    print("Character:", char)

# Using range()
for i in range(1, 6):
    print("Number:", i)

Fruit: apple
Fruit: banana
Fruit: mango
Character: P
Character: y
Character: t
Character: h
Character: o
Character: n
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

# ðŸ”¹ 4. Loop Control Statements

break â†’ Exits the loop immediately

continue â†’ Skips current iteration, moves to the next

pass â†’ Does nothing (placeholder)

In [ ]:
# LOOP CONTROL Example
for i in range(1, 6):
    if i == 3:
        continue   # skip number 3
    if i == 5:
        break      # stop loop when 5
    print("Number:", i)

# Using pass
for i in range(3):
    pass  # placeholder for future code

Number: 1
Number: 2
Number: 4

# 3. While Loop

Definition: A while loop runs as long as a condition is true.

Properties:

Needs a condition to continue looping

Can run infinitely if not handled correctly

Use case: When you donâ€™t know the number of iterations in advance.

In [ ]:
# Simple WHILE LOOP Example
count = 1

while count <= 5:
    print("This is loop number:", count)
    count += 1  # increase count each time

print("Loop finished!")

This is loop number: 1
This is loop number: 2
This is loop number: 3
This is loop number: 4
This is loop number: 5
Loop finished!

In [ ]:
# WHILE LOOP Example
count = 0

while count <= 5:
    print("Count:", count)
    count += 1  # update condition to avoid infinite loop

# Example: user input until correct
secret = "python"
guess = ""
while guess != secret:
    guess = input("Guess the secret word: ")
print("Correct! The word is", secret)

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Guess the secret word: ams
Guess the secret word: python
Correct! The word is python

# Functions â€” simple explanation

A function is a reusable block of code that performs one task. You define a function once, then call it whenever you need that task done. Functions help you organize code, avoid repetition, and make programs easier to read and test.

In [ ]:
# Cell 1: Basic function example
def greet(name):
    """Return a greeting for the given name (this is a docstring)."""
    return f"Hello, {name}!"

# call the function
greet("Fayaz")   # Output: Hello, Fayaz!

'Hello, Fayaz!'

In [ ]:
# Cell 2: Parameters and arguments
def introduce(name, age, city="Peshawar"):
    """Return a short introduction. 'city' has a default value."""
    return f"{name} is {age} years old and lives in {city}."

# Positional arguments
print(introduce("Ali", 30))

# Keyword arguments (order doesn't matter)
print(introduce(age=22, name="Sara"))

# Override default value
print(introduce("Fayaz", 25, city="Islamabad"))

Ali is 30 years old and lives in Peshawar.
Sara is 22 years old and lives in Peshawar.
Fayaz is 25 years old and lives in Islamabad.

In [ ]:
from os import lstat
# Cell 3: Mutable default pitfall (don't do this in practice)
def add_item_bad(item, lst=[]):
    """Bad: default list is shared across calls."""
    lst.append(item)
    return lst

print(add_item_bad(1))  # [1]
print(add_item_bad(2))  # [1, 2]  <-- surprising: same list reused

# Correct pattern
def add_item(item, lst=None):
    """Good: create a new list when None is passed."""
    if lst is None:
        lst = []
    lst.append(item)
    return lst

print(add_item(1))      # [1]
print(add_item(2))      # [2] (separate list)

[1]
[1, 2]
[1]
[2]

ðŸŸ¢ 1. What are Modules?

A module is simply a Python file (.py) that contains code (functions, classes, or variables) which you can import and reuse in other programs.

Think of modules as toolboxes:

Built-in modules (already in Python, e.g., math, os, random).

User-defined modules (files you create yourself).

In [ ]:
import math

print(math.sqrt(16))    # 4.0
print(math.pi)          # 3.141592653589793

4.0
3.141592653589793

In [ ]:
from random import randint

print(randint(1, 10))   # Random number between 1 and 10

4

âœ… Example 3: Creating your own module

ðŸ“Œ Suppose you create a file named my_module.py:

In [ ]:
# my_module.py
def greet(name):
    return f"Hello, {name}!"

In [ ]:
import my_module

print(my_module.greet("Fayaz"))
# Output: Hello, Fayaz!

ModuleNotFoundError: No module named 'my_module'

ðŸŸ¢ 2. Error Handling (Exceptions)

Errors can stop your program. In Python, you can handle errors safely using try and except.

In [ ]:
try:
    num = int("abc")   # error: cannot convert string to int
except ValueError:
    print("Oops! That was not a valid number.")

Oops! That was not a valid number.

âœ… Example 2: Multiple exceptions

In [ ]:
try:
    result = 10 / 0     # ZeroDivisionError
except ZeroDivisionError:
    print("You cannot divide by zero!")
except Exception as e:
    print("Some other error happened:", e)

You cannot divide by zero!