In [ ]:
# import Libraries
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("House Price Data for Prediction - House Price Data for Prediction.csv")
df

    area  number of room  guest house       tehsil     price
0      5               3            0      Babuzai   7500000
1     10               5            1        Kabal  14000000
2      7               4            0      Barikot   8500000
3      3               2            0        Matta   4200000
4     20               8            1      Babuzai  28000000
..   ...             ...          ...          ...       ...
95    12               6            1        Matta  17500000
96     7               4            0        Kabal   9600000
97    16               7            1      Babuzai  22500000
98     9               5            0      Barikot  11000000
99    20               9            1  Khwazakhela  25500000

[100 rows x 5 columns]

In [4]:
# now, we will try ydata_profilling to see the overivew of the dataset.
from ydata_profiling import ProfileReport
profile = ProfileReport(df, title="House Price Dataset Profiling Report", explorative=True)
profile.to_file("HousePrice_dataset_profiling_report.html")

c:\MiniForge\envs\kpitb_env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
100%|██████████| 5/5 [00:00<00:00, 833.56it/s]0<00:00, 65.57it/s, Describe variable: price]
Summarize dataset: 100%|██████████| 23/23 [00:00<00:00, 26.39it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  1.05it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  5.16it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 333.57it/s]